<h1><%= @user.email %></h1>
<% if @user.goal %>
	<h4>Protein: <%= @user.goal.protein %>%</h4>
	<h4>Carbohydrate: <%= @user.goal.carbohydrate %>%</h4>
	<h4>Fat: <%= @user.goal.fat %>%</h4>
	<p><%= link_to "Edit Goals", edit_goal_path(@goal.id) %></p>
<% else %>
	<h4><%= link_to "Set Goals", new_goal_path %></h4>
<% end %>
