<h1><%= @user.email %></h1>
<h3>Your goals</h3>
<% if @user.goal %>
	<h4>Protein: <%= @user.goal.protein %>%</h4>
	<h4>Carbohydrate: <%= @user.goal.carbohydrate %>%</h4>
	<h4>Fat: <%= @user.goal.fat %>%</h4>
	<p><%= link_to "Edit Goals", edit_goal_path(@goal.id) %></p>
<% else %>
	<h4><%= link_to "Set Goals", new_goal_path %></h4>
<% end %>

<h3>Current Daily Macros</h3>
<% if @user.trackers %>
	<h4>Protein: <%= @user.trackers.posted_today.pluck(:protein).inject(:+) %>g</h4>
	<h4>Carbohydrate: <%= @user.trackers.posted_today.pluck(:carbohydrate).inject(:+) %>g</h4>
	<h4>Fat: <%= @user.trackers.posted_today.pluck(:fat).inject(:+) %>g</h4>
	<p><%= link_to "Update Daily Tracker", new_tracker_path %></p>
<% else %>
	<h4><%= link_to "Start Your Daily Tracking", new_tracker_path %></h4>
<% end %>

<%= pie_chart({"Protein" => @protein_percent.to_i, "Carbohydrate" => @carbohydrate_percent.to_i, "Fat" => @fat_percent.to_i}) %>

<h2>See your progress</h2>
<%= link_to "Calendar", calendar_index_path %>
<%= link_to "Daily Break Down", trackers_path %>